
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Print policy</title>
</head>

<body>
<table width="90%" border="0" cellspacing="0" cellpadding="0" style =" margin-left:5%;">
  <tr>
    <td colspan="2"> <h2> ZY INSURANCE TRAVEL INSURANCE POLICY SCHEDULE</h2></td><td ><h1 style="background-color:blue; border-radius: 50%; height:50px; width:50px">ZZ</h1></td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td width="49%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:15px;">I Customer's Details</td>
          </tr>
          <tr>
            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;">First Name: <u>{{ customer_request.first_name }} 
                {{ customer_request.last_name }}</u> <br>
                Birth Date :{{ customer_request.date_of_birth}}<br>
                Address:{{ customer_request.address}} <br>
            </td>
          </tr>

          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:15px;">TRIP </td>
          </tr>
          <tr>
            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:400; font-size:14px;">Departure Date :<u>{{ customer_request.departure_date}}</u> <br>
                Duration of cover:<u>{{ customer_request.duration_of_cover}}</u> <br>
                Destination:<u>{{customer_request.destination}}</u><br>
                Other Destination:<u>{{customer_request.other_destination}}</u><br>
            </td>
          </tr>

            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;">  </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          </table></td>
      </tr>
    </table></td>
    <td width="51%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="right"><img src="logo.png" alt="" width="150"  /></td>
      </tr>
      <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" align="right"></td>
      </tr>
      <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;"  align="right">&nbsp;</td>
      </tr>
      <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;"  align="right">
            Family Name :{{customer_request.last_name}} <br>
            Phone No:{{customer_request.phone}}<br>
            PassPort NO :{{customer_request.passPort_no}} <br>
        
        </td>
      </tr>
      <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:15px;" align="right"></td>
      </tr>
      <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" align="right">
            <br>
          </td>
      </tr>
      <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" align="right"> Date of return {{customer_request.date_of_return}}</td>
      </tr>

    </table></td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td  colspan="3"style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-left:1px solid #333; border-right:1px solid #333 ;  line-height: 1.6;padding-left: 20px;" width="34%" height="32" align="left">II Medical expenses && Hospitalization a broad <br> 
            COVER LIMIT :€ 50,000 & Deductable € 100
        </td>
        
      </tr>
      <tr>
        <td  colspan="3"style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-left:1px solid #333; border-right:1px solid #333;padding-left:15px;line-height: 1.6;" width="34%" height="32" align="left">IV Plan Detail <br>
            plan:{{customer_request.other_destination}}<br>
            Type trip: Single <br>
            Duration Of Cover :{{customer_request.duration_of_cover}} (+15 days Grace Period)
        </td>
        
      </tr>
      
    </table></td>
  </tr>
  <tr>
    <td colspan="2">Note : please refere attached detail benefit schedule ,maximum limits and deductible</td>
  </tr> 
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px;" colspan="2">Please Note:</td>
  </tr>
  <tr>
    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" colspan="2"></td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px;" colspan="2">
        <table width="100%">
            <tr>
                <td>The Company Name :ZY INSURANCE TRAVEL INSURANCE POLICY SCHEDULE
                    Signature_______________________________
                </td> <td>Insured Name:{{ customer_request.first_name }} 
                    {{ customer_request.last_name }} <br>
                    Signature ___________________________
                </td>
            </tr>
        </table>
    </td>
  </tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" colspan="2" align="center">(This is computer generated receipt and does not require physical signature.) </td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tfoot> <td ></td> <td></td></tfoot>
</table>
</body>
</html>

